﻿@import url('custom_style.css');

* {
    margin: 0px 0px;
    padding: 0px 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.featurette-blog {
    margin: 0 0 10rem;
}

html, body {
    height: 100%;
}

html {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

main {
    padding-bottom: 9em; 
}

a {
    color: black;
}

h2 {
    color: white;
}

.navbar-custom {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
}

.navbar-image {
    width: 250px;
    height: 70px;
}

.ml-auto {
    margin-left: auto;
}

.mr-8 {
    margin-right: 2rem;
}

.nav-item {
    margin-right: 2rem;
    font-size: 1.1rem;
    font-weight: 100;
}

.ml-10 {
    margin-left: 2.5rem;
}


.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footer-links-top {
    color: #8a8cdd;
    font-weight: 600;
}

.footerlinks:hover {
    color: #ffd800;
}

.footer-paragraph {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

#footer1 {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
    background: lavender;
    padding: 1rem 0 0.5rem;
    font-weight: 500;
}

#footer2 {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    padding-top: 0.5rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    height: 60%;
    display: table;
    width: 100%;
    padding: 0;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.has-margin-size-5 {
    margin-top: 5rem;
}

.element-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-success {
    background: black;
    border-color: black;
}

.btn-success:hover {
    background: lavender;
    border-color: lavender;
}

.btn-success:not(:disabled):not(.disabled):active {
    background: lavender;
    border-color: lavender;
}

.btn-success:focus {
    background: lavender;
    border-color: lavender;
    box-shadow: lavender;
    }

.label-text {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.btn-top {
    margin-top: 2rem;
}

.btn-back {
    position: relative;
    display: block;
    color: black;
    text-transform: uppercase;
}

    .btn-back:hover {
        color: lightgray;
    }

.carousel-images {
    opacity: 0.8;
}

.carousel-header {
    font-weight: 600;
}

.carousel-paragraph {
    font-style: italic;
}

.album {
    padding-bottom: 8rem !important;
}

.card-img-top {
    opacity: 0.83;
}

.btn-black-style {
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    padding: 0.7rem;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    transition: filter 250ms, transform 250ms;
    transform: translateY(0);
    background: black;
}

.btn-white-style {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    letter-spacing: 0.65px;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 700;
}

.btn-jumbotron-style {
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    padding: 0.7rem;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    transition: filter 250ms, transform 250ms;
    transform: translateY(0);
    border: 2px solid black;
    background: white;
    color: black;
}


    .btn-jumbotron-style:hover {
        opacity: 0.8;
    }

.text-muted {
    font-size: 1.2rem;
}

.bgimage {
    width: 100%;
    height: 500px;
    background: url("../imgs/banner_movies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bgimage-about {
    width: 100%;
    height: 500px;
    background: url("../imgs/book_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

    .hero-text h2 {
        font-weight: 600;
        color: #f0c2d7
    }

    .hero-text p {
        font-style: italic;
        font-size: 1.1rem;
    }

.featurette-divider {
    margin: 5rem 0;
}

.featurette-divider-bottom {
    margin: 0 0 5rem;
}

.lead-justify {
    text-align: justify;
}

.jumbotron {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
    background-color: #efc1d7;
}

.jumbotron-header {
    color: white;
}

.jumbotron-paragraph {
    color: white;
}

.opacity-blog {
    opacity: 0.8;
}

.text-primary {
    color: #efc1d7 !important;
}

.card-border {
    border: 1px solid #f0f0f0 !important;
}

.text-muted {
    color: white !important;
}

.blog-sidebar {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.13);
    border-radius: 10px;
    padding: 2rem;
}

.btn-outline-secondary:hover {
    border-color: #eec1d8;
    background-color: white;
    color: black
}

a:hover {
    text-decoration: none;
    color: black;
}

.footerlinks:hover {
    color: lavender;
}

.footer-login {
    color: #afa2e9 !important;
    font-weight: 700;
}

.footer-login:hover {
    color: lavender;
}

